[user]
    name = Rosen Konstantinov
    email = xxxx

[includeIf "gitdir/i:~/work/tick42/"]
    path = ~/Work/tick42/.gitconfig

[includeIf "gitdir/i:~/work/tick42/jpm-projects/"]
     path = ~/work/tick42/jpm-projects/.gitconfig

[color]
    ui = true

[diff]
    tool = melt
[difftool]
    prompt = false
[diff]
    algorithm = patience

[mergetool]
    keepBackup = false
[merge]
    tool = fugitive
[mergetool "fugitive"]
    cmd = vim -c \"Gdiff\" \"$MERGED\"

[push]
    default = tracking
[alias]
    c = commit -m
    co = checkout
    a = add
    d = diff
    dic = diff --cached
    pl = pull --rebase
    ps = push
    st = status
    out = log origin..HEAD
    qpl = log --pretty=\"%Cblue%h%Creset %Cgreen[%cr]%Creset %s\" origin/develop..origin/master
    l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
    ci = commit
    ca = commit --amend
    eu = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
